<div class="auth-bg d-flex justify-content-center align-items-center">
  <div class="auth-box p-4 rounded shadow-lg">
    <h3 class="text-center mb-4 text-white">Register</h3>

    <input class="form-control mb-3" placeholder="Name"
      [(ngModel)]="model.name" name="name">

    <input class="form-control mb-3" placeholder="Email" type="email"
      [(ngModel)]="model.email" name="email">

    <input class="form-control mb-3" placeholder="Password" type="password"
      [(ngModel)]="model.password" name="password">

    <button class="btn btn-primary w-100 mb-3" (click)="register()">Register</button>

    <p class="text-center text-white">
      Already have an account? 
      <a routerLink="/login" class="text-warning fw-bold">Login</a>
    </p>
  </div>
</div>
